body{
    background-color: rgb(193, 191, 191);
    color: rgb(0, 0, 0);
}
figure.foto-legenda{
    background-color: white;
    position: relative;
    border: 5px solid black;
    box-shadow: 1px 1px 4px black;
    
}
figure.foto-legenda img{
    width: 18%;
    height: 20%;
}
figure.foto-legenda figcaption{
    position: absolute;
    font-size: 15pt;
    top: 0px;
    background-color: rgba(0, 0, 0, .4);
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 1s;
    
}
figure.foto-legenda:hover figcaption{
    opacity: 1;
}